/* #region common */

:root{
    --boolando-primary:#FF6900;
    --boolando-dark:#1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}


.container{
    width: 80%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
    
}

.align-center {
    align-items: center;
}


/* #endregion common */

/* #region site_header */


#site_header{
    background-color: var(--boolando-primary);
    padding-top:0.5% ;
    padding-bottom: 0.5%;
    width: 100%;
    color: white;
    position:fixed;
    z-index: 1;
    top: 0px;
    
}


.row{
    display: flex;
    gap:10px
}

img{
    width: 90px;
    height: auto;
}

/* #endregion site_header */

/* #region site_main */
#site_main{
    position: static;
    
}

.space{
    margin: 5% 0;
}

/* #region top_left */

.top_left{
    background-image: url(./img/1.webp);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26%;
    height: 500px;
    flex-grow: 1;
}

.top_left:hover{
    background-image: url(./img/1b.webp);
    transition: 500ms;
}


/* #endregion top_left */

.top_center{
    background-image: url(./img/2.webp);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26%;
    height: 500px;
    margin-left: 2%;
    flex-grow: 1;
}

.top_center:hover{
    background-image: url(./img/2b.webp);
    transition: 500ms;
}

.top_right{
    background-image: url(./img/3.webp);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26%;
    height: 500px;
    margin-left: 2%;
    flex-grow: 1;
}

.top_right:hover{
    background-image: url(./img/3b.webp);
    transition: 500ms;
}


.bottom_left{
    
    background-image: url(./img/4.webp);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26%;
    height: 500px;
    flex-grow: 1;
}

.bottom_left:hover{
    background-image: url(./img/4b.webp);
    transition: 500ms;
}


.bottom_center{
    background-image: url(./img/5.webp);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26%;
    height: 500px;
    margin-left: 2%;
    flex-grow: 1;
}

.bottom_center:hover{
    background-image: url(./img/5b.webp);
    transition: 500ms;
}

.bottom_right{
    background-image: url(./img/6.webp);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26%;
    height: 500px;
    margin-left: 2%;
    flex-grow: 1;
}

.bottom_right:hover{
    background-image: url(./img/6b.webp);
    transition: 500ms;
}

/* #region common_main */

#like{
    position: relative;
    background-color: white;
    font-size: x-large;
    padding: 1% 3%;
    height: auto;
    left: 80%;
    top: 3%;
}

#discount{
    position: relative;
    background-color: rgb(255, 1, 1);
    color: white;
    padding: 6px 16px;
    height: auto;
    right:11.5%;
    top: 85%;

}

#recicle{
    position: relative;
    background-color: rgb(16, 138, 5);
    color: white;
    padding: 6px 16px;
    right: 11%;
    top: 85%;
}

#info{
    position: relative;
    top: 95%
}

h5{
    color: grey;
}

.red{
    color: red;
}

/* #endregion common_main */

/* #endregion site_main */

#site_footer{
    background-color: var(--boolando-dark);
    padding: 2% 0%;
    width: 100%;
    margin: 0px;
    color: white;
}

ul{
    list-style: none;
    display: flex
}

li{
    font-size: 12px;
    padding: 7px 15px 2px 0
}

