:root{
    --boolando-primary:#FF6900;
    --boolando-dark:#1a1a1a;
}

/* #region common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.d-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.space-between{
    justify-content: space-between;
}

.cal-4{
    width: calc((100%/12) * 4);
    padding: 1rem;
}

.items_social{
    text-decoration: none;
    color: white;
}

/* #endregion common */

#site_header{
    background-color: var(--boolando-primary);
    color: white;
    height: 40px;
    
}

.head{
    align-content: center;

}

.row{
    flex-direction: row;
}

ul{
    display: flex;
    list-style: none;
    gap: 5px;
    font-size: 12px;
    font-weight: bold;
}

.logo{
    
}

.login{
    display: flex;
    gap: 5px;
    text-decoration: none;
}

/* site main */
#site_main{
    flex-wrap: wrap;
    background-color: white;
    height: calc(100vh - 110px);
    padding-left: -1rem;
    padding-right: -1rem;
    
}

img{
    display: block;
    width: 100%;
}

.top_left{
    position: relative;
}

.like{
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.like_back{
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(138, 1, 1);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.sales{
    position: absolute;
    bottom: 2rem;
    left: 0;
    background-color: red;
    color: white;
    width: 50px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sustainable{
    position: absolute;
    bottom: 2rem;
    left: 3.8rem;
    background-color: green;
    color: white;
    width: 90px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sustainable_2{
    position: absolute;
    bottom: 2rem;
    left: 0;
    background-color: green;
    color: white;
    width: 90px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* #region transiction card */
.trans_back{
    display: none;
    

}

.card:hover .trans_front{
    display: none;
}
.card:hover .trans_back{
    display: block;
    
    
}

.like_back{
    display: none;
    
}

.top_left:hover .like{
    display: none;
}

.top_left:hover .like_back{
    display: flex;
    justify-content: center;
    align-items: center;
    
}





/* #endregion transiction card */

.red{
    color: red;
    font-size: 14px;
    font-weight: 500;
}

.grey {
    color: grey;
    text-decoration: line-through;
    font-size: 12px;
    font-weight: 500;
}

#site_footer{
    background-color: var(--boolando-dark);
    height: 70px;
    color: white;   
}

.font{
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

.social{
    display: flex;
    gap: 8px;
}

.legal{
    font-size: 10px;
    font-weight: 100;
}